
th:nth-child(1), td:nth-child(1) {
  width: 20%; 
}

th:nth-child(2), td:nth-child(2) {
  width: 57%;
}

th:nth-child(3), td:nth-child(3) {
  width: 23%;
}

.comment-button { background-color: #1187cf; }
.comment-button:hover { background-color: #125f8f; font-weight: bold;}

.edit-button { background-color: #5d6dbe; }
.edit-button:hover {  background-color: #3a4eb4; font-weight: bold;}


.delete-button { background-color: #2fa599; }
.delete-button:hover { background-color: #227f75; font-weight: bold;}

.list-button { background-color: #9e9e9e; }
.list-button:hover {background-color: #6c6c6c; font-weight: bold;}

.reply{
  background-color: #f2f2f2;
  text-align: center;
}