.sign-button {
    margin-top: 1rem;
    font-size: medium;
    text-decoration: none;
    display: block; /* 전체 너비 차지 */
    padding: 0.5rem;
    width: 90%;
    border-radius: 20px; /* 버튼 모서리 둥글게 */
    cursor: pointer;
    justify-content: center;
    background-color: #929292;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    color: white;
}  
  
.sign-button:hover {
    background-color: #686767; /* hover 시 배경 색상 */
    font-weight: bold;
    color: white;
}