table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3rem;
  table-layout: fixed; /* 너비 고정 */
}

thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th:nth-child(1), td:nth-child(1) {
  width: 10%; 
}

th:nth-child(2), td:nth-child(2) {
  width: 60%;
}

th:nth-child(3), td:nth-child(3) {
  width: 15%;
}

th:nth-child(4), td:nth-child(4) {
  width: 15%;
}

.sign-button {
  margin-top: 1rem;
  font-size: medium;
  text-decoration: none;
  display: block; /* 전체 너비 차지 */
  padding: 0.5rem;
  width: 90%;
  border-radius: 20px; 
  cursor: pointer;
  justify-content: center;
  background-color: #929292;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
  color: white;
}  

.sign-button:hover {
  background-color: #686767;
  font-weight: bold;
  color: white;
}